In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(
    "src_data/u_bkop_incident_230603.csv",
    parse_dates=["created", "resolved"],
    low_memory=False
)

In [3]:
df.shape[0]

121479

In [4]:
df.columns

Index(['number', 'created', 'caller', 'state', 'category', 'subcategory',
       'assignment_group', 'bpl_location', 'nyp_location', 'resolved',
       'assigned_to', 'system', 'mat_source', 'close_code', 'url',
       'reassignment_count', 'updates', 'resolved_by'],
      dtype='object')

In [5]:
df["category"].unique()

array(['Cataloging', 'Acquisitions', 'Selection', 'Logistics',
       'Offsite - ReCAP', 'Collections Processing', nan], dtype=object)

### orginated as CAT or resolved by CAT

In [6]:
cdf = df[(df["category"] == "Cataloging")|(df["assignment_group"] == "BKOPS CAT")]

In [7]:
cdf.shape[0]

21250

## CAT tickets volumne by year

In [8]:
gyear_cdf = cdf.groupby(cdf["created"].map(lambda x: x.year))

In [9]:
ycdf = pd.DataFrame(columns=["year", "tickets"])

In [10]:
for year, d in gyear_cdf:
    new_row = pd.Series({"year": year, "tickets": d.shape[0]})
    ycdf = pd.concat([ycdf, new_row.to_frame().T], ignore_index=True)

In [11]:
ycdf

    year tickets
0   2013    1311
1   2014    2140
2   2015    2739
3   2016    2554
4   2017    2233
5   2018    2112
6   2019    1785
7   2020     955
8   2021    1964
9   2022    2169
10  2023    1288

In [12]:
ycdf.to_csv("public_data/cat-by-year-230604.csv", index=False)

In [19]:
ycdf_rl = pd.DataFrame(columns=["system", "year", "tickets"])
ycdf_bl = pd.DataFrame(columns=["system", "year", "tickets"])
ycdf_bp = pd.DataFrame(columns=["system", "year", "tickets"])

In [20]:
for year, d in gyear_cdf:
    rl_df = d[d["system"] == "NYPL Research"]
    bl_df = d[d["system"] == "NYPL Circulating"]
    bp_df = d[d["system"] == "BPL Circulating"]
    new_rl = pd.Series({"system": "NYPL RL", "year": year, "tickets", : rl_df.shape[0]})
    new_bl = pd.Series({"system", "NYPL BL", "year": year, "tickets": bl_df.shape[0]})
    new_bp = pd.Series({"system", "BPL", "year": year, "tickets": bp_df.shape[0]})
    ycdf_rl = pd.concat([ycdf_rl, new_rl.to_frame().T], ignore_index=True)
    ycdf_bl = pd.concat([ycdf_bl, new_bl.to_frame().T], ignore_index=True)
    ycdf_bp = pd.concat([ycdf_bp, new_bp.to_frame().T], ignore_index=True)

In [21]:
ycdf_rl.to_csv("public_data/rl-by-year-230604.csv", index=False)
ycdf_bl.to_csv("public_data/bl-by-year-230604.csv", index=False)
ycdf_bp.to_csv("public_data/bp-by-year-230604.csv", index=False)